{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    {{ styles }}
{% endblock %}
{% block content %}
        <div class="container pb-5">
            <div class="row justify-content-center">
                <div class="col-auto col-md-10">
                    <h1>Ruleset Upload</h1>
                    <p>Rules must be uploaded in <code>.yaml</code> format.</p>
                    <p>The file cannot have a size greater than 2 Megabytes.</p>
                    <p>The filename must not be void. </p>
                    <p>The ruleset must respect  a specific format. An example of the expected format is given:</p>
                    <pre><code class="language-yaml">rules:
    - measure: soilHumidity
      conditions:
          - type: upperBound
            value: 100
            events: [ useBuzzer ]
          - type: lowerBound
            value: 40
            events: [ blinkLed ]</code></pre>
                    <p>If the file's upload is successful you will be redirected to a page showing the rules updated. Otherwise you will be redirected to this page.</p>
                    <form action="{{ url_for("rules.upload_rules") }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="data_file" accept="text/yaml" required/>
                        <input type="submit" />
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
