<style>
    .navbar {
        background-color: #2b4764 !important;
    }
    a {
        color: white !important;
    }
</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{{ config['APP_NAME'] }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a rel="noopener" class="nav-link navbar-brand" href="/">Smart Garden</a>
            </li>
{#            <li class="nav-item">#}
{#                <a rel="noopener" class="nav-link" href="/system_state">Notifications</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a rel="noopener" class="nav-link" href="/upload_rules">Upload rules' files</a>#}
{#            </li>#}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a rel="noopener" class="nav-link" href="https://gitlab.com/smart_garden_iot"><i
                    class="fab fa-gitlab"></i> GitLab</a>
            </li>
        </ul>
    </div>
</nav>
