{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    {{ styles }}
{% endblock %}
{% block content %}
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-auto col-md-10">
                <h1>Content not found</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
