{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    {{ styles }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row flex-row flex-nowrap">
        <div class="col-sm-6">
            <div class="card bg-white m-5" >
                <div class="card-body">
                    <h5 class="card-title">Dashboard</h5>
                    <p class="card-text">
                        Browse measurements in real time (instant, daily and monthly records)
                    </p>
                    <a rel="noopener" href="/dash/readingsOverview" class="btn btn-primary">See statistics</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-white m-5">
                <div class="card-body">
                    <h5 class="card-title">Update rules</h5>
                    <p class="card-text">
                        Configure notification rules for sensor readings and the thresholds of soil humidity employed for the watering system.
                    </p>
                    <a rel="noopener" href="/rules/" class="btn btn-primary mt-2">Update</a>
                    <a rel="noopener" href="/rules/browse" class="btn btn-primary mt-2">See current rules</a>
                    <a rel="noopener" href="/rules/download/rules.yaml" class="btn btn-primary mt-2">Download current rules</a>
                    <a rel="noopener" href="/rules/reset" class="btn btn-primary mt-2">Reset current rules</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-row flex-nowrap">
        <div class="col-sm-6 offset-4">
            <div class="card bg-white m-5">
                <div class="card-body">
                    <h5 class="card-title">System state</h5>
                    <p class="card-text">
                        See the state of the system and whether there is a manual or automatic watering occurring.
                    </p>
                    <a rel="noopener" href="/dash/stateOverview" class="btn btn-primary">See system state</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
